<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="image/tab_logo.png">
	<link rel="stylesheet" type="text/css" href="css/about.style.css">
	<title>
		About Space Age
	</title>
</head>
<body>
    <section class="header">
        <div class="navbar" id="nav">
			<img src="image/Space_Age_logo.png" class="logo">
			<nav>
				<ul>
					<li><a href="index.html" class="home">Home</a></li>
					<li><a href="about.html" class="about">About</a></li>
					<li><a href="gallery.html" class="gallery">Gallery</a></li>
					<li><a href="tour.html" class="tour">Tour</a></li>
					<li><a href="LogIn.html" class="account">Account</a></li>
				</ul>
			</nav>
		</div>
            <div class="contentsec --center">
				<h1>About SPACE AGE</h1>
				<p>We're committed to building a road to space so our children can build the future.</p>
                <!-- <img src="image/Space_Age_logo.png" alt=""> -->
            </div>
		<div class="links">
			<a href="#" class="mata">Mataverse</a>
			<a href="#" class="unreal">Unreal</a>
			<a href="#" class="deeplink">DeepLink</a>
		</div>
    </section>
    <section class="sec">
        <div class="contentsec">
            <p>Our Vision</p>
            <h1>For the Benefit of Earth</h1>
			<p>Space Age was founded with a vision of millions of people living and working in space for the benefit of Earth. Space Age envisions a time when people can tap into the limitless resources of space and enable the movement of damaging industries into space to preserve Earth, humanity’s blue origin.</p>
            <a href=""><button class="btn">Know More</button></a>
            <div class="scrollme">
                <svg width="30px" height="20px">
                <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
                </svg>
            </div>
        </div>
    </section>
    <section class="sec --II">
        <div class="contentsec">
            <p>Update</p>
            <h1>Star Reef</h1>
            <a href=""><button class="btn">Know More</button></a>
            <div class="scrollme">
                <svg width="30px" height="20px">
                <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "></path>
                </svg>
            </div>
        </div>
    </section>
    <script type="text/javascript">
		{
			var blur_it = document.getElementById("nav");
			var lastscroll = window.screenY;
			window.addEventListener("scroll", () =>{
			if (lastscroll<window.scrollY){
				console.log("lastscroll");
				blur_it.classList.add("navbar--hidden")
			}
			else{
				blur_it.classList.remove("navbar--hidden")
			}
			lastscroll = window.screenY;
			})
	}
	</script>
</body>
</html>