<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="image/tab_logo.png">
	<link rel="stylesheet" type="text/css" href="css/tour.style.css">
	
	<title>
		Space Age Gallery
	</title>
</head>
<body>
	<div class="main">
		<div class="navbar">
			<img src="image/Space_Age_logo.png" class="logo">
			<nav>
				<ul>
					<li><a href="index.html" class="home">Home</a></li>
					<li><a href="about.html" class="about">About</a></li>
					<li><a href="gallery.html" class="gallery">Gallery</a></li>
					<li><a href="tour.html" class="tour">Tour</a></li>
					<li><a href="LogIn.html" class="account">Account</a></li>
				</ul>
			</nav>
		</div>
		<div class="content">
				<h1>Buckle up your<br> Seatbelt<br>You are about<br>Launch.</h1>
				<p>Get rid of all your stress and Relax in INFINITY.</p>
			</div>
		</div>
		<div class="links">
			<a href="#" class="mata">Mataverse</a>
			<a href="#" class="unreal">Unreal</a>
			<a href="#" class="deeplink">DeepLink</a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card card1">
				</div>
				<div class="card card2">
				</div>
				<div class="card card3">
				</div>
				<div class="card card4">
				</div>
			</div>
			<div class="col">
				<h2>Neighbor Trip</h2>
				<p id="red">Location: Mars, Moon, Venus & orbit near Sun<br><br>
							Duration: 1 month onwards<br><br>
							Cost &nbsp;&nbsp; : 10,000 &#8383 onwards/-</p>
				<div class="btn">
					<button>Know More</button>
				</div>
			</div>
		</div>
		<div class="row2">
			<div class="col">
				<h2>Astro Trip</h2>
				<p id="red">Location: Beyond Asteriod Belt till Pluto<br><br>
							Duration: 3 month (travel time excluded)<br><br>
							Cost &nbsp;&nbsp; : 50,000 &#8383 onwards/-</p>
				<div class="btn">
					<button>Know More</button>
				</div>
			</div>
			<div class="col">
				<div class="card card5">
				</div>
				<div class="card card6">
				</div>
				<div class="card card7">
				</div>
				<div class="card card8">
				</div>
			</div>
		</div>
		<div class="row3">
			<div class="col">
				<div class="card card9">
				</div>
				<div class="card card10">
				</div>
				<div class="card card11">
				</div>
				<div class="card card12">
				</div>
			</div>
			<div class="col">
				<h2>DEEPSPACE Trip </h2>
				<p id="red">Location: Deep Space <br><br>
							Duration: 2 Year (travel time excluded)<br><br>
							Cost &nbsp;&nbsp; : 5,00,000 &#8383 onwards/-</p>
				<div class="btn">
					<button>Know More</button>
				</div>
			</div>
		</div>
		<div class="row4">			<div class="col">
				<h2>Research Trip</h2>
				<p id="red">ONLY FOR CERTIFIED RESEARCHERS<br><br>
							Location: Anywhere <br><br>
							Duration: (Duration of Research)<br><br>
							Cost &nbsp;&nbsp; : ~~~ &#8383</p>
				<div class="btn">
					<button>Know More</button>
				</div>
			</div>
			<div class="col">
				<div class="card card13">
				</div>
				<div class="card card14">
				</div>
				<div class="card card15">
				</div>
				<div class="card card16">
				</div>
			</div>
		</div>
	</div>
</body>
</html>