*{
	margin: 0;
	padding: 0;
	font-family: monospace;
	transition: .5s ease;
}
*::-webkit-scrollbar {
    display: none;
}
.main{
	height: 100vh;
	width: 100%;
	background-image: url(../image/bg.jpg);
	background-position: center;
	background-size: cover;
	padding-right: 5%;
	padding-left: 5%;
	box-sizing: border-box;
	position: absolute;
}
.navbar{
	width: 100%;
	height: 15vh;
	margin: auto;
	margin-left: 10px;
	display: flex;
	align-items: center;
}
.logo{
	width: 190px;
	height: 30px;
	cursor: pointer;
}
nav ul{
	flex: 1;
	margin-left: 640px;	
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0 20px;
}
nav ul li a{
	letter-spacing: 0px;
	text-decoration: none;
	color: whitesmoke;
	font-size: 20px;
}
nav ul li a:hover{
	font-size: 21px;
	color: darkgrey;
}
.account{
	font-size: 21px;
	margin-left: 0px;
	margin-right: 0px;
	color: darkgrey;
	text-decoration: underline;
}
.links{
	transform: rotate(-90deg);
	position: absolute;
	left: -70px;
	bottom: 150px;
	
}
.links a{
	text-decoration: none;
	color: whitesmoke;
	padding-right: 20px;
	font-size: 14px;
}
.deeplink:hover{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
	color: darkgrey;
}
.mata:hover{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
	color: darkgrey;
}
.unreal:hover{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
	color: darkgrey;
}.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 2% 0 0 70%;
	background: transparent;
	color: whitesmoke;
	border-radius: 30px;
	padding: 5px;
	overflow: hidden;
	backdrop-filter: blur(5px)
}
.form-box:hover{
	transition: .5s;
	box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8);
}
h4{
	text-align: center;
	margin-top: 100px;
	font-size: 20px;
	color: whitesmoke;
}
.main form{
	width: 285px;
	position: absolute;
	top: 180px;
	left: 50px;
	transition: .7s;
	color: whitesmoke;
}
form input{
	width: 100%;
	padding: 10px 5px;
	margin: 5px 0;
	border: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
	color: whitesmoke;
}
.btn-box{
	width: 100%;
	margin: 50px auto;
	text-align: center;
}
#btn{
	margin-left: 7px;
}
button{
	width: 110px;
	height: 35px;
	margin: 0 10px;
	margin-top: 30px;
	background:  #44303C;
	border-radius: 30px;
	color: white;
}
#form2{
	left: 450px;
	transition: .7s;
}
a{
	text-decoration: none;
	font-size: 26px;
	color: black;
}