*{
	margin: 0;
	padding: 0;
	font-family: monospace;
	color: whitesmoke;
	transition: .5s ease-in-out;
}
*::-webkit-scrollbar {
    display: none;
}
.main{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)) ,url(../image/earth.jpg);
	background-position: center;
	background-size: cover;
	padding-right: 5%;
	padding-left: 5%;
	box-sizing: border-box;
	position: relative;
}
.navbar{
	width: 100%;
	height: 15vh;
	margin: auto;
	margin-left: 10px;
	display: flex;
	align-items: center;
}
.logo{
	width: 190px;
	height: 30px;
	cursor: pointer;
}
nav ul{
	flex: 1;
	margin-left: 640px;	
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0 20px;
}
nav ul li a{
	letter-spacing: 0px;
	text-decoration: none;
	color: whitesmoke;
	font-size: 20px;
}
.gallery{
	font-size: 21px;
	margin-left: 0px;
	margin-right: 0px;
	color: darkgrey;
	text-decoration: underline;
}
nav ul li a:hover{
	font-size: 21px;
	color: darkgrey;
	text-decoration: underline;
}
.navbar--hidden{
	opacity: 0;
	cursor: progress;
}
.content{
	margin-left: 29%;
	margin-top: 25%;
}
.content h1{
	font-size: 60px;
	color: whitesmoke;
}
.content p{
	font-size: 22px;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 15px;
	color: whitesmoke;
}
.btn :hover{
	font-size: 20px;
	/*background: whitesmoke;*/
	backdrop-filter: blur(17px);
}
.links{
	transform: rotate(-90deg);
	position: absolute;
	left: -70px;
	bottom: 150px;
	position: fixed;
	
}
.links a{
	text-decoration: none;
	color: whitesmoke;
	padding-right: 20px;
	font-size: 14px;
}
.deeplink:hover{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
	color: darkgrey;
}
.mata:hover{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
	color: darkgrey;
}
.unreal:hover{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
	color: darkgrey;
}
.container{
	width: 100%;
	height: 350vh;
	background: linear-gradient(rgba(16,11,5,255),rgba(16,11,5,255),rgba(3,2,0,255),rgba(3,2,0,255));
}
.row{
	display: flex;
	height: 100px;
	align-items: center;
}
.col{
	flex-basis: 40%;
	margin-top: 700px;
	margin-left: 15%;
}
h2{
	font-size: 60px;
}
#red{
	font-size: 20px;
	margin-top: 20px;
	line-height: 15px;
}
button{
	height: 50px;
	width: 190px;
	margin-top: 20px;
	margin-right: 30px;
	background: transparent;
	font-size: 18px;
	color: whitesmoke;
	border-radius: 50px;
}
.btn :hover{
	font-size: 20px;
	background: rgb(245, 245, 245);
	color: black;
	cursor: pointer;
	border: 50%;
}
.card{
	height: 250px;
	width: 200px;
	display: inline-block;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 13px;
	color: darkgrey;
	background-size: cover;
	background-position: center;
}
.card1{
	background-image: url(../image/mars1.jpg);
	
}
.card2{
	background-image: url(../image/mars2.jpg);
}
.card3{
	background-image: url(../image/mars3.jpg);
}
.card4{
	background-image: url(../image/mars4.jpg);
}
.row2{
	margin-top: 550px;
	display: flex;
	height: 100px;
	align-items: center;
}
.card5{
	background-image: url(../image/moon1.jpeg);
}
.card6{
	background-image: url(../image/moon2.jpg);
}
.card7{
	background-image: url(../image/moon3.jpg);
}
.card8{
	background-image: url(../image/moon4.jpg);
}
.row3{
	margin-top: 550px;
	display: flex;
	height: 100px;
	align-items: center;
}
.card9{
	background-image: url(../image/deepspace1.jpg);
}
.card10{
	background-image: url(../image/deepspace2.jpg);
}
.card11{
	background-image: url(../image/deepspace3.jpg);
}
.card12{
	background-image: url(../image/deepspace4.jpg);
}
.row4{
	margin-top: 550px;
	display: flex;
	height: 100px;
	align-items: center;
}
.card13{
	background-image: url(../image/liftup1.jpg);
}
.card14{
	background-image: url(../image/liftup2.jpg);
}
.card15{
	background-image: url(../image/liftup3.jpg);
}
.card16{
	background-image: url(../image/liftup4.jpg);
}

